<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @institution.Nom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @institution.Adresse_id %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
