<%= form_with(model: etat_civil, local: true) do |form| %>
  <% if etat_civil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etat_civil.errors.count, "error") %> prohibited this etat_civil from being saved:</h2>

      <ul>
      <% etat_civil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :etat_civil_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
