<p id="notice"><%= notice %></p>

<h1>Etat Civils</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etat_civils.each do |etat_civil| %>
      <tr>
        <td><%= etat_civil.type %></td>
        <td><%= link_to 'Show', etat_civil %></td>
        <td><%= link_to 'Edit', edit_etat_civil_path(etat_civil) %></td>
        <td><%= link_to 'Destroy', etat_civil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etat Civil', new_etat_civil_path %>
