<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table>
  <thead>
    <tr>
      <th>Prenom</th>
      <th>Nom</th>
      <th>Datenaissance</th>
      <th>Nas</th>
      <th>Adresse</th>
      <th>Nombreenfants</th>
      <th>Comptetaxesproprietaire</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.Prenom %></td>
        <td><%= client.Nom %></td>
        <td><%= client.DateNaissance %></td>
        <td><%= client.NAS %></td>
        <td><%= client.Adresse_id %></td>
        <td><%= client.NombreEnfants %></td>
        <td><%= client.CompteTaxesProprietaire %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
