<p id="notice"><%= notice %></p>

<p>
  <strong>Prenom:</strong>
  <%= @client.Prenom %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @client.Nom %>
</p>

<p>
  <strong>Datenaissance:</strong>
  <%= @client.DateNaissance %>
</p>

<p>
  <strong>Nas:</strong>
  <%= @client.NAS %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @client.Adresse_id %>
</p>

<p>
  <strong>Nombreenfants:</strong>
  <%= @client.NombreEnfants %>
</p>

<p>
  <strong>Comptetaxesproprietaire:</strong>
  <%= @client.CompteTaxesProprietaire %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
