<%= form_with(model: client_etat_civil, local: true) do |form| %>
  <% if client_etat_civil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_etat_civil.errors.count, "error") %> prohibited this client_etat_civil from being saved:</h2>

      <ul>
      <% client_etat_civil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Client_id_id %>
    <%= form.text_field :Client_id_id, id: :client_etat_civil_Client_id_id %>
  </div>

  <div class="field">
    <%= form.label :EtatCivil_id_id %>
    <%= form.text_field :EtatCivil_id_id, id: :client_etat_civil_EtatCivil_id_id %>
  </div>

  <div class="field">
    <%= form.label :DateDebut %>
    <%= form.datetime_select :DateDebut, id: :client_etat_civil_DateDebut %>
  </div>

  <div class="field">
    <%= form.label :DateFin %>
    <%= form.datetime_select :DateFin, id: :client_etat_civil_DateFin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
