<p id="notice"><%= notice %></p>

<h1>Client Etat Civils</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Etatcivil</th>
      <th>Datedebut</th>
      <th>Datefin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_etat_civils.each do |client_etat_civil| %>
      <tr>
        <td><%= client_etat_civil.Client_id %></td>
        <td><%= client_etat_civil.EtatCivil_id %></td>
        <td><%= client_etat_civil.DateDebut %></td>
        <td><%= client_etat_civil.DateFin %></td>
        <td><%= link_to 'Show', client_etat_civil %></td>
        <td><%= link_to 'Edit', edit_client_etat_civil_path(client_etat_civil) %></td>
        <td><%= link_to 'Destroy', client_etat_civil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client Etat Civil', new_client_etat_civil_path %>
