<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @client_etat_civil.Client_id %>
</p>

<p>
  <strong>Etatcivil:</strong>
  <%= @client_etat_civil.EtatCivil_id %>
</p>

<p>
  <strong>Datedebut:</strong>
  <%= @client_etat_civil.DateDebut %>
</p>

<p>
  <strong>Datefin:</strong>
  <%= @client_etat_civil.DateFin %>
</p>

<%= link_to 'Edit', edit_client_etat_civil_path(@client_etat_civil) %> |
<%= link_to 'Back', client_etat_civils_path %>
