<%= form_with(model: etude, local: true) do |form| %>
  <% if etude.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etude.errors.count, "error") %> prohibited this etude from being saved:</h2>

      <ul>
      <% etude.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :SecteurEtude %>
    <%= form.text_field :SecteurEtude, id: :etude_SecteurEtude %>
  </div>

  <div class="field">
    <%= form.label :Niveau %>
    <%= form.text_field :Niveau, id: :etude_Niveau %>
  </div>

  <div class="field">
    <%= form.label :DateDebut %>
    <%= form.datetime_select :DateDebut, id: :etude_DateDebut %>
  </div>

  <div class="field">
    <%= form.label :DateComplition %>
    <%= form.datetime_select :DateComplition, id: :etude_DateComplition %>
  </div>

  <div class="field">
    <%= form.label :Client_id_id %>
    <%= form.text_field :Client_id_id, id: :etude_Client_id_id %>
  </div>

  <div class="field">
    <%= form.label :Institution_id_id %>
    <%= form.text_field :Institution_id_id, id: :etude_Institution_id_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
