<p id="notice"><%= notice %></p>

<h1>Etudes</h1>

<table>
  <thead>
    <tr>
      <th>Secteuretude</th>
      <th>Niveau</th>
      <th>Datedebut</th>
      <th>Datecomplition</th>
      <th>Client</th>
      <th>Institution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etudes.each do |etude| %>
      <tr>
        <td><%= etude.SecteurEtude %></td>
        <td><%= etude.Niveau %></td>
        <td><%= etude.DateDebut %></td>
        <td><%= etude.DateComplition %></td>
        <td><%= etude.Client_id %></td>
        <td><%= etude.Institution_id %></td>
        <td><%= link_to 'Show', etude %></td>
        <td><%= link_to 'Edit', edit_etude_path(etude) %></td>
        <td><%= link_to 'Destroy', etude, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etude', new_etude_path %>
