<p id="notice"><%= notice %></p>

<p>
  <strong>Secteuretude:</strong>
  <%= @etude.SecteurEtude %>
</p>

<p>
  <strong>Niveau:</strong>
  <%= @etude.Niveau %>
</p>

<p>
  <strong>Datedebut:</strong>
  <%= @etude.DateDebut %>
</p>

<p>
  <strong>Datecomplition:</strong>
  <%= @etude.DateComplition %>
</p>

<p>
  <strong>Client:</strong>
  <%= @etude.Client_id %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @etude.Institution_id %>
</p>

<%= link_to 'Edit', edit_etude_path(@etude) %> |
<%= link_to 'Back', etudes_path %>
