<%= form_with(model: employeur, local: true) do |form| %>
  <% if employeur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employeur.errors.count, "error") %> prohibited this employeur from being saved:</h2>

      <ul>
      <% employeur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom, id: :employeur_nom %>
  </div>

  <div class="field">
    <%= form.label :Adresse_id_id %>
    <%= form.text_field :Adresse_id_id, id: :employeur_Adresse_id_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
