<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @employeur.nom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @employeur.Adresse_id %>
</p>

<%= link_to 'Edit', edit_employeur_path(@employeur) %> |
<%= link_to 'Back', employeurs_path %>
