<p id="notice"><%= notice %></p>

<p>
  <strong>Numerocivique:</strong>
  <%= @adress.NumeroCivique %>
</p>

<p>
  <strong>Rue:</strong>
  <%= @adress.Rue %>
</p>

<p>
  <strong>Codepostal:</strong>
  <%= @adress.CodePostal %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @adress.Ville %>
</p>

<p>
  <strong>Province:</strong>
  <%= @adress.Province %>
</p>

<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
